<div class="mdl-grid max-width">

  <button class="mdl-button mdl-js-button" (click)="setTable(1)">table 1</button>
  <button class="mdl-button mdl-js-button" (click)="setTable(2)">table 2</button>

</div>

<div [ngSwitch]="table">
  <div class="mdl-grid max-width" *ngSwitchCase="1">
    <div class="mdl-cell mdl-cell--6-col">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">X</th>
          <th class="mdl-data-table__cell--non-numeric">Y</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let coordinate of table1;">
          <td>{{ coordinate.x }}</td>
          <td>{{ coordinate.y }}</td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp">
      <app-graph
        [table]="table1"
      ></app-graph>
    </div>
  </div>

  <div class="mdl-grid max-width" *ngSwitchCase="2">
    <div class="mdl-cell mdl-cell--6-col">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">X</th>
          <th class="mdl-data-table__cell--non-numeric">Y</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let coordinate of table2;">
          <td>{{ coordinate.x }}</td>
          <td>{{ coordinate.y }}</td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp">
      <app-graph
        [table]="table2"
      ></app-graph>
    </div>
  </div>

</div>


