<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">

  <app-header></app-header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{ title }}</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">You</a>
      <a class="mdl-navigation__link" href="">Are</a>
      <a class="mdl-navigation__link" href="">So</a>
      <a class="mdl-navigation__link" href="">Beautiful</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="mdl-grid max-width">

      <div class="mdl-cell mdl-cell--8-col mdl-shadow--4dp">
        <img *ngFor="let i of arr(num).fill(1);"
          class="img-padding mdl-shadow--2dp" [src]="image">
      </div>

      <div class="mdl-cell mdl-cell--4-col mdl-shadow--4dp">
        <ul class="mdl-list">
          <li *ngFor="let item of menu;"
            class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              {{item.menuName}}
            </span>
            <i class="material-icons">{{item.menuIcon}}</i>
          </li>
        </ul>
      </div>

    </div>
  </main>

  <app-footer></app-footer>
</div>
