<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">

  <app-header [title]="title"></app-header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{ title }}</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">You</a>
      <a class="mdl-navigation__link" href="">Are</a>
      <a class="mdl-navigation__link" href="">So</a>
      <a class="mdl-navigation__link" href="">Beautiful</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <!--<app-first-task></app-first-task>-->
    <!--<app-second-task></app-second-task>-->
    <router-outlet></router-outlet>
  </main>

  <app-footer [title]="title"></app-footer>
</div>
